{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="hide">From {{ daterange_form.start_date }} to {{ daterange_form.end_date }}</div>

    <h2>Products sales dynamics information</h2>

    <div class="container">
        <blockquote>
            <p>Chose the date range and wait a wile before data table will appear.</p>
            <p>If you chose big date range - drink a cup of coffee and relax before long waiting.</p>
            <footer>Bender</footer>
        </blockquote>
    </div>


    <div class="alert alert-danger" id="error_msg" style="display: none;">

    </div>

    <script>
        $(function() { $("#dt_range").daterangepicker(
            {
                presetRanges: [
				    {text: 'All available range',
                    dateStart: function() { return moment(document.getElementById('id_start_date').value) },
                    dateEnd: function() { return moment(document.getElementById('id_end_date').value) }
				    }],
                dateFormat: 'dd.mm.yy',
			    altFormat: 'dd.mm.yy',
                change: function(event, data) { diffAJAX() }
            }
        ); });
    </script>

    <input id="dt_range" name="e1">

    <br>
    <br>
    <br>
    <div id="records_block">

    </div>

{% endblock %}